*{
  border: 0px solid red;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

}

#items>h2{
  font-size: 1.5rem;
  text-align: left;
}

#itemsContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

#categories{
  margin-top: 1em;
}

@media only screen and (min-width: 600px) {
  #root {
    width: 80%;
    max-width: 630px;
  }

}
